ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.search-input {
  padding: 0 6px;
}

.filters-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 999;
  background-color: #c5000f;
  color: #f4f5f8;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  right: -0.5rem;
  top: -0.2rem;
  font-size: 10px;
}