ion-item::part(native){
  padding-left: 0;
}

.date {
  font-size: 14px;
  font-weight: 600;
  line-height: 12px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 2px;
  box-shadow: 2px 2px 2px rgba(0 0 0 / 25%);
  
  .month {
    color: #0163aa;
  }
}

ion-label {
  .title {
    font-weight: bold;
  }

  .subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    .flag {
      border: 1px solid #d1d1d1;
      width: 24px;
      height: 16px;
      border-radius: 4px;
    }

    .location {
      font-weight: bold;
      max-width: min-content;
    }
  }
}
