<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar {{ label }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="query" placeholder="Buscar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [formControl]="control">
      @for(opt of filteredOptions(); track opt){
        <ion-item (click)="toggle(opt)">
          <ion-label>{{ opt }}</ion-label>
          <ion-radio slot="start" [value]="opt"></ion-radio>
        </ion-item>
      }
    </ion-radio-group>
  </ion-list>
</ion-content>
