<form>
  <ion-list id="inbox-list">
    <app-date-select [startControl]="startDateControl" [endControl]="endDateControl"></app-date-select>
    <app-search-select label="Banda" [options]="bandOptions" [control]="bandControl"></app-search-select>
    <app-search-select label="Ciudad" [options]="locationOptions" [control]="locationControl"></app-search-select>
    <app-search-select label="Recinto" [options]="placeOptions" [control]="placeControl"></app-search-select>
    <app-search-select label="Género" [options]="genreOptions" [control]="genreControl"></app-search-select>
  </ion-list>
</form>